@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('./assets/fonts/NoonnuBasicGothicRegular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('./assets/fonts/SUITE-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('./assets/fonts/NanumSquareRoundR.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('./assets/fonts/LINESeedKR-Rg.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON-Lv1-Gothic';
    src: url('./assets/fonts/NEXONLv1GothicRegular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'SUITE-Regular';
}
